
.f-l{
    float: left;
}
.navbar a{
    color: grey
}
.boton{
    color: grey;
    background-color: rgb(36, 36, 36);
}
.text1{
    font-family: 'Koulen', cursive;
}
.size{
    font-size: 30px;
}
header{
    background-color: rgb(36, 36, 36);
}
main{
    height: 700px;
}

